.devcontainer/
__pycahce_/
user_credentials.db
app/__pycache__/
app/db/__pycache__/
app/models/__pycache__/
app/routes/__pycache__/
app/utils/__pycache__/
inventory.db
tests/__pycache__
app/docs/__pycache__/
.pytest_cache/
app/db_files/inventory.db
app/db_files/user_credentials.db